<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="uambition.ares.ywq.uambition" >


    <permission android:protectionLevel="normal" android:name="cn.bmob.permission.push"></permission>
    <uses-permission android:name="cn.bmob.permission.push"/><!-- 添加自定义的权限-->

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <meta-data android:value="Channel ID" android:name="bmob"/>

    <!--android:icon="@mipmap/ic_launcher"-->
    <application
        android:name=".App.AmbitionAPP"
        android:allowBackup="true"
        android:icon="@drawable/ambition_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.EditUserNameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.ResetPSWActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.FindPSWActivity"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".Activity.FirstPSWActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.AmbitionDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.PhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.AddAmbitionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.UserDetailActivity"
            android:screenOrientation="portrait"  >
        </activity>

        <!--android:windowSoftInputMode="adjustPan|stateHidden"-->
        <!--android:configChanges="orientation|keyboardHidden"-->
        <activity
            android:name=".Activity.AmbitionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:label="PushService"
            android:name="cn.bmob.push.lib.service.PushService"
            android:process="cn.bmob.push"
            android:permission="cn.bmob.permission.push"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter android:priority="2147483647"><!--优先级加最高-->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT"/>
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name="uambition.ares.ywq.uambition.Util.MyPushMessageReceiver">
            <intent-filter >
                <action android:name="cn.bmob.push.action.MESSAGE"/>
            </intent-filter>
        </receiver>



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--<meta-data android:name="APP_ID" android:value="4fc70c42c2ddaef8bae10a92e54dcd17"/>-->
        <!--<meta-data android:name="WAPS_PID" android:value="163"/>-->

    </application>

</manifest>
